.news-container {
    display: grid;
    grid-template-rows: 100px auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "news-header"
    "news-container";
    position: relative;
    margin: 0 auto;
    float: none;
}
.news-header {
    grid-area: news-header;
    justify-self: center;
}
h2 {
    margin: 20px 0;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #CE1C43;
}
.news-items-container {
    grid-area: news-container;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: 
    "prev-nav news-items forward-nav";

    background-color: rgba(255, 255, 255, .4);
}

@media (max-width: 500px) {
    .news-items-container {
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "news-items news-items"
        "prev-nav forward-nav"
    }
    .news-items {
        padding-left: 0px;
    }
}
.prev-nav {
    grid-area: prev-nav;
    justify-self: center;
    align-self: center;
}
.for-nav {
    grid-area: forward-nav;
    justify-self: center;
    align-self: center;
}
.news-items {
    grid-area: news-items;
    padding-left: 50px;
    overflow: hidden;
    align-self: center;
}
div svg {
    width: 70px;
    height: auto;
    cursor: pointer;
    overflow: visible;
    fill: #998888;
}
div svg polygon, div svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
div svg:hover polygon, div svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #CE1C43;
}
div svg:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
div svg:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
  