.news-container {
    position: relative;
    margin: 0 auto;
    float: none;
}

h2 {
    margin: 20px 0;
    font-family: 'Abel', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #CE1C43;
}

.news-items-container {
    background-color: rgba(255, 255, 255, .4);
    position: relative;
}

.nav-arrows  > svg {
    position: absolute;
    top: 40%;
}

div svg {
    width: 70px;
    height: auto;
    cursor: pointer;
    overflow: visible;
    fill: #998888;
}
div svg polygon, div svg path {
    transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
div svg:hover polygon, div svg:hover path {
    transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
    fill: #CE1C43;
}
div svg:hover .arrow {
    animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
div svg:hover .arrow-fixed {
    animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}
@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
  