<div class="footer-wrapper">
	<div class="footer-links-row">
		<a href="#">
			<img src="../../../assets/img/facebook.png">
		</a>
		<a href="#">
			<img src="../../../assets/img/insta.png">
		</a>
		<a href="#">
			<img src="../../../assets/img/twitter.png">
		</a>
	</div>
	<div class="footer-links-row-2">
		<a href="#"> HOME </a>
		<a href="#"> CONTACT US</a>
		<a href="#"> OUR STORY</a>
	</div>

	<div class="footer-address">
		<span class="address-title">ADDRESS</span>
		<p>PMB 769, 3370 N. Hayden Road, #123</p>
		<p>Scottsdale, AZ 85251</p>
	</div>

	<div class="footer-img">
		<img class="footer-cat" src="../../../assets/img/catFooter.png"/>
	</div>
</div>