<div class="navbar fixed-top">
  <div class="container-fluid">

	<!-- Logo -->
    <div class="col-md-6 col-sm-12 pp-logo">
      <span class="pp-logo-1">Paw</span>
      <img class="pp-logo-img" src="/assets/img/pawprint.png">
	  <span class="pp-logo-2">Placement</span>
	  <div class="row">
		  <span class="pp-logo-sub">A Helping Hand For Pets</span>
	  </div>
	</div>

	<!-- Nav Buttons -->
	<div class="col-md-6 col-sm-12 pp-button-container">
		<a class="btn btn-main" href="#">ADOPT</a>
		<a class="btn btn-secondary" href="#">DONATE</a>
		<a class="btn btn-third" href="#">VOLUNTEER</a>
		<div class="pp-hamburger-container">
				<span class="ham-bar"></span>
				<span class="ham-bar"></span>
				<span class="ham-bar"></span>
			</div>
		<span class="pp-menu">Menu</span>
	</div>

	
  </div>
</div>