.pp-img-wrapper {
    height: auto;
    width: 100%;
    position: relative;  
    overflow: hidden;
    cursor: pointer;
}
.pp-feature-img {
    overflow: hidden;
    position: relative;
}
.pp-img {
    transition: all .2s ease-in-out;
}
.pp-img:hover {
    overflow: none;
    transform: scale(1.1);
}
.pp-label {
    font-family: 'Abel', sans-serif;
    font-weight: 800;
    font-size: 45px;
    color: #ffffff;
    z-index: 5;
    position: absolute;
    bottom: 10px;
    height: 40px;
    width: 125px;
    opacity: .8;
}
.pp-label-left {
    left: 30px;
}
.pp-label-right {
    left: 20px;
}
.pp-label-text {
    position: absolute;
    bottom: -3px;
    left: 5px;
    line-height: 45px;
}
.red {
    background-color: #CE1C43;
}
.green {
    background-color: #94c474;
    color: #FFFFFF;
    width: 190px;
}
.orange {
    background-color: #dda755;
    color: #FFFFFF;
    width: 210px;
}
.purple {
    background-color: #9b64a0;
    color: #FFFFFF;
    width: 150px;
}
.blue {
    background-color: #66d9ff;
    bottom: 50px;
    right: 20px;
}