<div class="pp-owl-wrapper">
	<owl-carousel 
		[options]="sliderOptions"
		[items]="images"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item">
			<!-- Adopt -->
			<div class="pp-img-wrapper pp-top-img">
				<div class="pp-label pp-label-left red">
					<span class="pp-label-text">Adopt</span>
				</div>
				<img class="pp-img" routerLink="/adopt" routerLinkActive="Active" src="../../assets/img/adopt.png">
			</div> 
			<!-- Volunteer -->
			<div class="pp-img-wrapper pp-bottom-img">
				<div class="pp-label pp-label-left green">
					<span class="pp-label-text">Volunteer</span>
				</div>
				<img class="pp-img" src="../../assets/img/cats.png">
			</div>
		</div>

		<div class="item">
			<!-- Resources -->
			<div class="pp-img-wrapper pp-top-img">
				<div class="pp-label pp-label-right orange">	
					<span class="pp-label-text">Resources</span>
				</div>
				<img class="pp-img" src="../../assets/img/cat.png">
			</div> 
			<!-- Donate -->
			<div class="pp-img-wrapper pp-bottom-img">
				<div class="pp-label pp-label-right purple">
					<span class="pp-label-text">Donate</span>
				</div>
				<img class="pp-img" src="../../assets/img/donate.png">
			</div>
		</div>

		<div class="item">
			<!-- About -->
			<div class="pp-feature-img">
				<div class="pp-label blue">
					<span class="pp-label-text">About</span>
				</div>
				<img class="pp-img" src="../../assets/img/about_dog.png">
			</div>
		</div>
		
	</owl-carousel>
</div>
